*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    
    background-color: rgb(233, 243, 255);
    padding-top: 20px;
}
#enter-btn{
    padding: 2px 5px;
}
 #color-btns button,
 #btn-group button{
    padding: 4px 10px;
}

#btn-group{
    display: flex;
    justify-content:center;
    align-items: center;
    padding: 10px 0px;
    
    
}
#color-btns button:last-child{
    margin-right: 20px;
}
#sketch-container{
    width: 500px;
    height: 500px;
    display: grid;

    margin-top: 20px;
    border: 1px solid black;
}